<div class="confirmation-dialog">
  <h3>{{data.confirmationText}}</h3>

  <div class="buttons-row">
    <button type="button" mat-stroked-button class="btn-cancel" mat-dialog-close>
      Cancel
    </button>

    <button type="submit" mat-flat-button class="btn-submit" (click)="confirmAction()">
      Confirm
    </button>
  </div>
</div>