// dashboard page
@import "variables";
.dashboard-page {
    padding: 30px 100px;
    color: $color-text-secondary;
    .table-header-row {
        display: flex;
        align-items: center;
        padding: 25px 0 20px;
        .btn-add-file {
            margin-left: auto;
        }
    }
    .files-table {
        width: 100%;
        th.mat-header-cell {
            font-size: 14px;
            font-weight: 700;
        }
        th.mat-header-cell,
        td.mat-cell {
            padding: 7px 25px;
            &.actions-col {
                text-align: center;
                width: 1%;
                .btn-group {
                    display: flex;
                    button {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}