<!-- dashboard page -->
<div class="dashboard-page">
  <h1>{{repositoryName|async}}</h1>

  <!-- table header row -->
  <div class="table-header-row">
    <h2>Files</h2>
    <button type="button" mat-raised-button color="primary" class="btn-add-file" routerLink="/files/new">
      Add New File
    </button>
  </div>
  <!-- files table -->
  <table *ngIf="files| async; else loader" mat-table [dataSource]="files" class="files-table mat-elevation-z8">

    <!-- id column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let i=index;">{{i+1}}</td>
    </ng-container>

    <!-- fileName column -->
    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef>Filename</th>
      <td mat-cell *matCellDef="let element">{{element.filename}}</td>
    </ng-container>

    <!-- actions column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-col">Actions</th>
      <td mat-cell *matCellDef="let element;" class="actions-col">
        <div class="btn-group">
          <button type="button" mat-raised-button color="primary" class="btn-edit-file" [routerLink]="['/files', element.filename, 'edit']">
            Edit
          </button>

          <button type="button" mat-raised-button color="warn" class="btn-delete-file" (click)="deleteFile(element.filename)">
            Delete
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="isDeleting|async">
      <app-loader></app-loader>
  </div>
</div>

<!-- loading indicator -->
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>