<!-- main header -->
<header class="main-header">
  <h1>Config Editor</h1>

  <!-- logout button -->
  <button
    type="button"
    mat-flat-button
    class="btn-logout"
    (click)="logout()"
  >
    Logout
  </button>
</header>