// main header
@import "variables";

.main-header {
  display: flex;
  align-items: center;
  background-color: $white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  height: 60px;
  padding: 5px 30px;

  .btn-logout {
    margin-left: auto;
  }
}