// add or edit property parameters
@import "variables";
.property-form-wrapper {
    background-color: $white;
    h2 {
        padding: 15px 0 0px 20px;
    }
    .property-form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .form-field {
            margin-bottom: 15px;
        }
        .value-radio-options {
            .section-heading {
                margin-bottom: 15px;
            }
            ::ng-deep .mat-radio-group {
                display: block;
                >* {
                    margin-right: 25px;
                }
            }
            ::ng-deep .mat-error {
                font-size: 10.5px;
                margin-top: 10px;
            }
        }
    }
    .buttons-row {
        display: flex;
        >* {
            margin-right: 10px;
        }
    }
}