<!-- configuration editor -->
<div class="editor-page">
  <div class="breadcrumbs-wrapper">
    <a routerLink="/">Dashboard</a>
    <span>{{(inEditMode| async) ? 'Edit': 'Add'}} File</span>
  </div>
  <!-- filename input -->
  <mat-form-field class="filename">
    <input type="text" matInput placeholder="Filename" [formControl]="filename" />
    <mat-error>Required field</mat-error>
  </mat-form-field>
  <div *ngIf="(environments|async) && (!(inEditMode | async) || ((inEditMode | async) && (configuration | async))); else loader"
    class="col-container">
    <!-- col which shows tree view -->
    <div class="col-default-env">
      <div class="default-env" *ngIf="configuration">
        <!-- property tree -->
        <app-nested-config-view #nestedConfig [configuration]="configuration | async" [environments]="environments| async"
          [selectedEnvironments]="selectedEnvironments | async" (configurationChange)="onConfigChange($event)"
          (selectedNode)="onNodeSelected($event)" (cancelAddEditPropertyChange)="onCancelAddEditProperty()"
          (viewCompiledYAMLEvent)="showCompiledYAML($event)" (addEditProperty)="onAddEditProperty($event)"></app-nested-config-view>
      </div>
    </div>

    <!-- detail panel -->
    <div class="col-other-envs">
      <!-- if node is selected to view detail -->
      <div class="preview" *ngIf="(selectedNode | async)">
        <h3 class="section-heading" *ngIf="(selectedNode | async)">{{(selectedNode | async).key}}</h3>
        <!-- shows the node as YAML for non-leaf node -->
        <pre *ngIf="(showAsCode | async)"><code highlight [code]="previewCode | async"></code></pre>
        <!-- shows the leaf node as readonly label -->
        <div *ngIf="!(showAsCode | async) && (selectedConfigProperty | async)" class="property">
          <div class="mat-form-field mat-form-field-appearance-legacy mat-form-field-disabled mat-form-field-can-float mat-form-field-should-float">
            <div class="mat-form-field-wrapper">
              <div class="mat-form-field-flex">
                <div class="mat-form-field-infix">
                  <mat-label>{{(selectedConfigProperty|async).key}}</mat-label>
                  <span class="mat-form-field-label-wrapper">
                    <label class="mat-form-field-label">Name</label>
                  </span>
                </div>
              </div>
              <div class="mat-form-field-underline">
                <span class="mat-form-field-ripple"></span>
              </div>
            </div>
          </div>
          <div class="mat-form-field mat-form-field-appearance-legacy mat-form-field-disabled mat-form-field-can-float mat-form-field-should-float">
            <div class="mat-form-field-wrapper">
              <div class="mat-form-field-flex">
                <div class="mat-form-field-infix">
                  <mat-label>{{(selectedConfigProperty|async).valueType}}</mat-label>
                  <span class="mat-form-field-label-wrapper">
                    <label class="mat-form-field-label">Value Type</label>
                  </span>
                </div>
              </div>
              <div class="mat-form-field-underline">
                <span class="mat-form-field-ripple"></span>
              </div>
            </div>
          </div>
          <div class="mat-form-field mat-form-field-appearance-legacy mat-form-field-disabled mat-form-field-can-float mat-form-field-should-float">
            <div class="mat-form-field-wrapper">
              <div class="mat-form-field-flex">
                <div class="mat-form-field-infix">
                  <mat-label>{{(selectedConfigProperty|async).value}}</mat-label>
                  <span class="mat-form-field-label-wrapper">
                    <label class="mat-form-field-label">Value</label>
                  </span>
                </div>
              </div>
              <div class="mat-form-field-underline">
                <span class="mat-form-field-ripple"></span>
              </div>
            </div>
          </div>
          <div class="mat-form-field mat-form-field-appearance-legacy mat-form-field-disabled mat-form-field-can-float mat-form-field-should-float">
            <div class="mat-form-field-wrapper">
              <div class="mat-form-field-flex">
                <div class="mat-form-field-infix">
                  <mat-label class="comment"><pre>{{(selectedConfigProperty|async).comment}}</pre></mat-label>
                  <span class="mat-form-field-label-wrapper">
                    <label class="mat-form-field-label"> Comment</label>
                  </span>
                </div>
              </div>
              <div class="mat-form-field-underline">
                <span class="mat-form-field-ripple"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- shows the compiled YAML -->
      <div class="preview" *ngIf="(showAsCompiledYAMLEnvironment | async)">
        <h3 class="section-heading">Compiled YAML for "{{showAsCompiledYAMLEnvironment | async}}" environment</h3>
        <pre><code highlight [code]="(previewCode|async)"></code></pre>
      </div>
      <!-- shows the add/edit panel -->
      <div class="add-edit-property-mode" *ngIf="(currentAddEditProperty | async)">
        <app-add-edit-property-dialog (saveProperty)="onSaveAddEditProperty($event)" (cancel)="onCancelAddEditProperty($event)"
          [data]="(currentAddEditProperty | async).options"></app-add-edit-property-dialog>
      </div>
    </div>
  </div>

  <div class="buttons-row">
    <button type="button" mat-stroked-button class="btn-cancel" [routerLink]="['/dashboard']">
      Cancel
    </button>

    <button type="button" mat-raised-button color="primary" [disabled]="isSavingData | async" class="btn-save"
      (click)="saveConfig()">
      Save
    </button>
  </div>
  <div *ngIf="isSavingData|async">
    <app-loader></app-loader>
  </div>
</div>

<!-- loading indicator -->
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>