@import "variables";
.alert-dialog {
    width: 300px;
    .button-row {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        >* {
            margin: 0 8px;
        }
    }
}