<div class="alert-dialog">
  <h3>{{data.message}}</h3>

  <div class="button-row">
    <button type="button" mat-stroked-button class="btn-cancel" (click)="afterClosed()" mat-dialog-close>
      Ok
    </button>
  </div>
</div>