<!-- nested config property view -->
<div class="nested-config-view">
  <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="nested-tree">
    <mat-tree-node *matTreeNodeDef="let node">
      <div *ngIf="node.key !== '$value' && node.key !== '$comment' && node.key!=='$type'" class="mat-tree-node">
        <button mat-icon-button disabled></button>

        <div class="key" (click)="showDetail(node)">{{node.key}} :</div>
        <div class="value" (click)="showDetail(node)">{{node.value}}</div>

        <ng-container *ngTemplateOutlet="actionMenu; context: {$implicit: node}"></ng-container>
      </div>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <div>
        <div *ngIf="node.key !== '$value' && node.key !== '$comment' && node.key!=='$type'" class="mat-tree-node">
          <button [disabled]="isSimpleNestedNode(node)" mat-icon-button matTreeNodeToggle class="btn-tree-toggle">
            {{isSimpleNestedNode(node) ? '' : nestedTreeControl.isExpanded(node) ? '-' : '+' }}
          </button>
          <div class="key" (click)="showDetail(node)">
            {{node.key}} :
          </div>
          <div *ngIf="isSimpleNestedNode(node)" class="value" (click)="showDetail(node)">{{getNodeValue(node)}}</div>

          <!-- action menu trigger -->
          <ng-container *ngTemplateOutlet="actionMenu; context: {$implicit: node, canAddProperty: !isSimpleNestedNode(node)}"></ng-container>
        </div>
        <ul class="sub-tree" *ngIf="nestedTreeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </div>
    </mat-nested-tree-node>
  </mat-tree>
</div>

<ng-template #actionMenu let-node let-allowAdd="canAddProperty" let-delete="canDelete">
  <button mat-icon-button class="btn-action" [matMenuTriggerFor]="menu">
    {{disabled ? '' : '...'}}
  </button>

  <mat-menu #menu="matMenu">
    <button *ngIf="node.valueType==='object'" mat-button class="btn-action-menu" color="primary" (click)="openAddPropertyDialog(node)">
      {{node.isDefaultEnvironmentNode() || node.level> 0? 'Add Property': 'Add Environment'}}
    </button>
    <button mat-button class="btn-action-menu" color="primary" (click)="openEditPropertyDialog(node)">
      Edit
    </button>
    <button *ngIf="!node.isDefaultEnvironmentNode() && node.level === 1" (click)="viewCompiledYAML(node.key)" mat-button class="btn-action-menu" color="primary">
      View Compiled YAML
    </button>
    <button *ngIf="node.level>0" mat-button class="btn-action-menu" color="warn" (click)="deleteProperty(node)">
      Delete
    </button>
  </mat-menu>
</ng-template>

<!-- add, edit and delete property action menu -->