// login page
@import "variables";
.login-page {
    min-height: 100vh;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .forms-container {
        width: 320px;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        .form-heading {
            text-align: center;
            margin-bottom: 25px;
        }
        .form-field {
            margin-bottom: 10px;
        }
        .btn-login {
            margin-top: 5px;
        }
        .login-error-message {
            margin-top: 10px;
            line-height: 1.3;
            text-align: center;
            word-wrap: break-word;
            word-break: normal;
        }
    }
}