<!-- login page -->
<div class="login-page">
  <!-- login form -->
  <mat-card class="forms-container">
    <form class="login-form" (ngSubmit)="login()">
      <h1 class="form-heading">Config Editor</h1>

      <mat-form-field class="form-field">
        <input type="text" placeholder="Username" (input)="onInput($event)" [matAutocomplete]="auto" matInput
          #autoTrigger="matAutocompleteTrigger" [formControl]="username" (keyup)="inputChange()" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let name of filteredUsernames | async" [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>Required field</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input type="password" matInput placeholder="Password" [formControl]="password" (keyup)="inputChange()" />
        <mat-error>Required field</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input type="text" matInput placeholder="Repository URL" [formControl]="repositoryURL" (keyup)="inputChange()" />
        <mat-error *ngIf="repositoryURL.hasError('required')">Required field</mat-error>
        <mat-error *ngIf="repositoryURL.hasError('pattern')">Invalid URL</mat-error>
      </mat-form-field>

      <button type="submit" [disabled]="formProcessing| async" mat-raised-button color="primary" class="btn-login">
        Login
      </button>

      <!-- login error message -->
      <mat-error *ngIf="loginError| async" class="login-error-message">{{loginError| async}}</mat-error>
    </form>
  </mat-card>
  <div *ngIf="formProcessing|async">
    <app-loader></app-loader>
  </div>
</div>
<!-- loading indicator -->
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>